doctype html
html
  head
    title Imgur anonymous image web uploder.
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css')
  body
    block content
    hr
    p This project is being developed in
      |
      a(href="https://github.com/shinshin86/imgur-anonymous-web-uploader" target="_blank" rel="noopener")  this GitHub Repository (shinshin86/imgur-anonymous-web-uploader).
    p Copyright © 2020
      |
      a(href="https://shinshin86.com" target="_blank" rel="noopener")  shinshin86
      |  All Rights Reserved.